{extend name="public/base"/}
{block name="body"}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <form method="post" id="ArticleAll">
        <h1 class="page-header">操作</h1>
        <ol class="breadcrumb">
          <li><a href="add.html">增加文章</a></li>
        </ol>
        <h1 class="page-header">管理 <span class="badge">{$count.0.mycount}</span></h1>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">选择</span></th>
                <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
                <th><span class="glyphicon glyphicon-list"></span> <span class="visible-lg">栏目</span></th>
                <th class="hidden-sm"><span class="glyphicon glyphicon-tag"></span> <span class="visible-lg">标签</span></th>
                <th class="hidden-sm"><span class="glyphicon glyphicon-comment"></span> <span class="visible-lg">评论</span></th>
                <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
              </tr>
            </thead>
            <tbody>
            <ul class="pagination pagenav">
            {volist name="data" id="list"}
            </ul>
              <tr>
                <td><input type="checkbox" class="input-control" name="checkbox[]" value="{$list.id}" /></td>
                <td class="article-title">{$list.title}</td>
                <td>这个是栏目主键{$list.category_id}</td>
                <td class="hidden-sm">{$list.tags}</td>
                <td class="hidden-sm">暂无</td>
                <td>{$list.create_time}</td>
                <td><a href="editdate.html?id={$list.id}">修改</a> <a rel="{$list.id}">删除</a></td>
              </tr>
            {/volist}
            </tbody>
          </table>
        </div>
        <footer class="message_footer">
          <nav>
            <div class="btn-toolbar operation" role="toolbar">
              <div class="btn-group" role="group"> <a class="btn btn-default" onClick="select()">全选</a> <a class="btn btn-default" onClick="reverse()">反选</a> <a class="btn btn-default" onClick="noselect()">不选</a> </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="删除全部选中" name="checkbox_delete" id="deleteAll">删除</button>
              </div>
            </div>
            <div class="pagination pagenav">
              {$data->render()}
            </div>
          </nav>
        </footer>
      </form>
    </div>
  </div>
</section>
<script>
//是否确认删除
$(function(){ 
	//批量删除
	$('#deleteAll').click(function(){
		if (event.srcElement.outerText == "删除") 
		{
			if(window.confirm("此操作不可逆，是否确认？"))
			{
				$.ajax({
					type: "POST",
					url: "{:url('admin/article/deleteAll')}",
					data: $('#ArticleAll').serialize(),
					cache: false, //不缓存此页面   
					success: function (data) {
						if(data.status == 1){
							window.location.reload();
						}		
					}
				});
			};
		};
	})
	
	//单个删除
	$("#main table tbody tr td a").click(function(){
		var id = $(this).attr("rel"); //对应id  
		if (event.srcElement.outerText == "删除") 
		{
			if(window.confirm("此操作不可逆，是否确认？"))
			{
				$.ajax({
					type: "POST",
					url: "{:url('admin/article/delete')}",
					data: "id=" + id,
					cache: false, //不缓存此页面   
					success: function (data) {
						if(data.status == 1){
							window.location.reload();
						}		
					}
				})
			}
		}
	});  
});
</script>
{/block}

